* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Fantasque-Sans-Mono-Regular';
    src: url('./assets/fonts/Fantasque-Sans-Mono-Regular.ttf.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'Fantasque-Sans-Mono-Regular', sans-serif;
}
